@using KnaagdierenMarktGame.Shared
@using KnaagdierenMarktGame.Shared.Enums
@using KnaagdierenMarktGame.Client.Classes
@inject GameState gameState

<Header Title="Final score" MainTextType="EndScreen" SmallHeaderText="@(PlayerScores[0].Key.Name)" />
<div class="EndScreenScoring-container">
    @for (int x = 0; x < PlayerScores.Count(); x++)
    {
        <p>@($"{x+1} place: {PlayerScores[x].Key.Name} with {PlayerScores[x].Value} points")</p>
    }
</div>

@code {

    public List<KeyValuePair<Player, int>> PlayerScores { get { return GetPlayerScores(); } }

    public List<KeyValuePair<Player, int>> GetPlayerScores()
    {
        List<KeyValuePair<Player, int>> PlayerScores = new List<KeyValuePair<Player, int>>();
        foreach (Player player in gameState.Players)
        {
            List<AnimalTypes> differentAnimalCards = player.AnimalCards.Distinct().ToList();
            int score = differentAnimalCards.Sum(AnimalCard => (int)AnimalCard) * differentAnimalCards.Count();
            PlayerScores.Add(new KeyValuePair<Player, int>(player, score));
        }
        PlayerScores = PlayerScores.OrderByDescending(playerscore => playerscore.Value).ToList();
        return PlayerScores;
    }
}
