@using Microsoft.AspNetCore.SignalR.Client
@using KnaagdierenMarktGame.Shared
@using KnaagdierenMarktGame.Client.Classes
@using Newtonsoft.Json
@using KnaagdierenMarktGame.Client.Resources
@using Microsoft.Extensions.Localization
@inject GameConnection gameConnection
@inject GameState gameState

@inject IStringLocalizer<HeaderResource> headerResources

<div class="Component-header">
    <h1 class="Component-header">@Title</h1>
    <h5>@SmallHeaderText @(!string.IsNullOrEmpty(MainTextType) ? headerResources[$"{MainTextType}_SmallHeaderText"] : "")</h5>
    <p>@Description @(!string.IsNullOrEmpty(MainTextType) ? headerResources[$"{MainTextType}_DescriptionText"] : "")</p>
</div>

@code {

    [Parameter] public string SmallHeaderText { get; set; }
    [Parameter] public string Description { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public string MainTextType { get; set; }
}
