<h2>$@MoneyCardAmount</h2>
<div class="MoneySelector-item">
    <p class="AlignTextLeft">Left: @AmountLeft</p>
    <input type="range" @bind="AmountOffered" @bind:event="oninput" max="@TotalAmount" />
    <p class="AlignTextRight">@AmountOffered x $@MoneyCardAmount = $@(AmountOffered * MoneyCardAmount)</p>
</div>

@code {
    [Parameter]
    public int MoneyCardAmount { get; set; } = 0;

    [Parameter]
    public int TotalAmount { get; set; } = 0;

    [Parameter]
    public EventCallback<KeyValuePair<int, int>> OnAmountChanged { get; set; }

    private int amountOffered = 0;

    public int AmountOffered
    {
        get { return amountOffered; }
        set { amountOffered = value; OnAmountChanged.InvokeAsync(new KeyValuePair<int, int>(MoneyCardAmount, AmountOffered)); }
    }

    public int AmountLeft => TotalAmount - AmountOffered;

}
