@using KnaagdierenMarktGame.Client.Classes

@*<h3>PlayerAnimalCardsOverview</h3>*@

<div class="PlayerAnimalCards-container">
    @foreach (var animalCardGroup in AnimalCards.GroupBy(AnimalCard => AnimalCard.AnimalType))
    {
    <div class="PlayerAnimalCard-container">
        <img class="PlayerAnimalCards-item LittleAnimalCard-image" src=@($"/Images/{animalCardGroup.Key.ToString()}.png") />
        <div class="PlayerAnimalCards-item">
            <h5>@animalCardGroup.Key</h5>
            <p>@animalCardGroup.Count().ToString() / 4</p>
        </div>
    </div>
    }
</div>


@code {
    [Parameter]
    public List<AnimalCard> AnimalCards { get; set; }
}
